body {
    width: 100%;
    height: auto;
    background-color: cadetblue;
    
}

#title, #description {
    text-align: center;
}

#title {
    font-size: 2vw;
}

#description {
    font-size: 1vw;
}

#name, #email, #number, #dropdown, #dropdown2 {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin: 10px 5px 5px 10px;
}

form {
    border: 1px solid;
    background-color: cornsilk;
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

#part-1-form{
    display: flex;
    flex-direction: column;

}
#part-1-form input, #dropdown, #dropdown2 {
   margin: auto;
}

#part-1-form label {
    margin-left: 6vw;
    margin-top: 8px;
    margin-bottom: 8px;
 }

 select {
     margin-bottom: 8px;
     margin-top: 8px;
 }

#part-2-form {
    margin-left: 6vw;

}

#dropdown, #dropdown2  {
    margin-top: 8px;
}

.options legend{
    margin-top: 10px;
    margin-bottom: 10px;
}
.options #comment{
    margin-left: 5.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

#comment {
    width: 88%;
    height: 50px;
    border-radius: 10px;
}

#my-submit {
    text-align: center;
    
}
button {
    padding: 3px 5px 3px 5px;
}

@media screen and (max-width: 800px) {
    form {
        width: 100%;
        height: auto;
    }

    #title {
        font-size: 13px;
    }
    #description {
        font-size: 10px;
    }
}